
/.idea
SpaceBuddyApp/CMakeCache.txt
SpaceBuddyApp/CMakeFiles/4.1.1/CMakeCXXCompiler.cmake
SpaceBuddyApp/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
SpaceBuddyApp/CMakeFiles/4.1.1/CMakeSystem.cmake
SpaceBuddyApp/CMakeFiles/4.1.1/CompilerIdCXX/a.out
SpaceBuddyApp/CMakeFiles/4.1.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
SpaceBuddyApp/CMakeFiles/cmake.check_cache
SpaceBuddyApp/CMakeFiles/CMakeConfigureLog.yaml
